*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
html{
	scroll-behavior: smooth;
}
a{
	color: unset;
	text-decoration: none;
}

:root{
	--white: rgba(255,255,255,1) 0%;
	--white-contrast: rgba(234,235,224,1) 100%;
	--brown: #8a6646;
	--violet: #551a8b;
	--biege:#f7f6ec;
	--biege-contrast:#e3dda8;
	--orange: #dd704f;
	--green: #5f8d31;
	--orange-contrast: #953518;
	--yellow: #ffef6b;
	--yellow-contrast:#8f8004;
	--green-two: #aaf362;
}
html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: relative;
	/*z-index: 10;*/
	/*display: none;*/
}

.loading-div{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
h3{
	font-size: 2.2vw;
	text-align: center;
	font-family: 'Sofia' , cursive;
	color: var(--orange);

}
h4{
	font-size: 2vw;
	font-family: 'Sofia' , cursive;	
}
h5{
	font-size: 1.8vw;
	font-family: 'Sofia' , cursive;
}

.background-texture{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, var(--white),var(--white-contrast) );
	background: url("../img/background-texture.png");
	/*opacity: 0.6;*/
	background-attachment: fixed;
	position: fixed;
	z-index: -3;
}
.page1{
	position: absolute;

}
h1{
	font-size: 6vw;
	line-height: 130%;
	color: var(--orange);
}
.mandala-overlay{
	width:50%;
	height: 60%;
	position: fixed;
	bottom:-5%;
	overflow: hidden;
	left: -23%;
	/*filter: drop-shadow(1px -1px 10px black);*/
	z-index: 2;
}

h2{
	font-size: 4.5vw;
	font-family: 'Sofia', cursive;
	color: var(--orange);
	/*font-family: 'Boogaloo', cursive;*/

}

.mandala-overlay img{
	width: 100%;
	position: static;
	/*box-shadow: 0px 4px 0px 4px black;*/
	/*height: 100%;*/
	/*opacity: 80%;*/
	/*filter: drop-shadow(0px 2px 0px  black);*/
	transition: opacity 2s;
	opacity: 70%;

}

.main-page-container{
	width: 100%;
	height: 100%;
	position: relative;
	color: var(--green);
	/*z-index: 999;*/

	/*background-color: black;*/
}

.logo{
	position: absolute;
	right: 0px;
	top:18%;
	width: 27%;
}

.logo img{
	width: 100%;
}

.main-title{
	position: fixed;
	/*font-family: 'Rock Salt', cursive;*/

	width: 23vw;
	text-align: right;
	/*line-height: 130%;*/
	transition: all 1s;
	transform: rotate(-10deg);
	/*filter: drop-shadow(2px 2px 2px white);*/
}

.main-title img{
	width: 100%;
}

.compressed-title{
	font-size: 2vw;
	width: 14vw;
	right: 2%;
}

.full-title{
	right: 18%;
	width: 25vw;
	font-size: 4.5vw;
}
.nav-bar{
	width: 50%;
	height: 60px;
	z-index: 999;
}
.nav-list{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: var(--green);
	z-index: 9999;
}
.list-items{
	text-decoration: none;
}
.list-items li{
	list-style: none;
	/*font-family: 'Berlin Sans FB', sans-serif;*/
	font-family: 'Berkshire Swash', cursive;

	/*font-family: 'Delius', cursive;*/

	font-size: 2vw;
}

.list-items li:hover{
	color: var(--orange);
}

.drop-down-container{
	display: flex;
	position: absolute;
}

.drop-down{
	display: none;
	background-color: rgba(255,255,2550,0.4);
	padding: 10px;
	border-radius: 5px;
}
.drop-list-item{
	text-decoration: none;
}
.drop-list-item li{
	font-size: 1.5vw;
	color: var(--green);

}

.drop-list-item li:hover{
	color: var(--orange);
}

.back-circle{
	pointer-events: none;

	position: fixed;
	z-index: -1;

}

.svg-circle{
	transition: all 1s;
	pointer-events: none;

}

.main-content h1{
	font-family: 'Sofia', cursive;
	text-shadow: 2px 2px var(--orange-contrast);
}
.main-content{
	width: 50%;
	/*font-family: 'Delius', cursive;*/

	font-family: 'Berkshire Swash', cursive;
	position: absolute;
	top:25%;
	left: 20%;
	text-align: center;
	font-size: 2vw;
	color: var(--green);
}

.page-title{
	text-align: center;
	color: var(--orange);

}

.scroll-logo{
	width: 4%;
	position: absolute;
	bottom: 0px;
	left: 45%;
}

.scroll-logo img{
	width: 100%;
}

.carousel-container{
	width: 100%;
	height: 60%;
	position: absolute;
	display: flex;
	top:20%;
	/*bottom: 50%;*/
	/*background-color: rgba(0,0,0,0.5);*/
	/*z-index:-2;*/
	justify-content: center;
	align-items: center;
	/*tabindex:0;*/
}

.carousel-division{
	width: 15%;
	z-index: 3;
}

.end-division{
	width: 10%;
	z-index: 2;
}
.main-division{
	position: relative;
	width: 30%;
	z-index: 4;
}
.carousel-image{
	width: 110%;
	/*border: 2px solid black;*/
	box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.3) , -2px 2px 12px 2px rgba(0,0,0,0.3);
	transition: all 0.2s;
	filter: blur(3px);
}

.main-image{
	filter: blur(0px);
}

.button-left{
	width: 20%;
	position: absolute;
	height: 20%;
	/*background-color: rgba(0,0,0,0.7);*/
	top:40%;
	left: -10%;
	color: var(--green);
	/*filter: drop-shadow(-7px 0px 2px rgba(0,0,0,0.7));*/

}

.button svg{
	fill: var(--green);
}

.button svg:hover{
	fill: var(--orange);
}


.button-right{
	width: 20%;
	position: absolute;
	height: 20%;
	/*background-color: rgba(0,0,0,0.7);*/
	top:40%;
	right: -20%;

}

.button img{
	width: 100%;
	cursor: pointer;
	filter: drop-shadow(7px 0px 2px rgba(0,0,0,0.7)) drop-shadow(-7px 0px 2px rgba(0,0,0,0.7));
}

.button:hover{
	width: 18%;
	height: 18%;
	top: 41%;
}

.button-2{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.description{
	width: 110%;
	height: 10%;
	background-color: rgba(255,251,214,0.8); 
	text-align: center;
	position: absolute;
	bottom: 0px;
	color: var(--orange);
	padding-top: 2px;
	font-family: 'Sofia', cursive;
	font-size: 1.5vw;

}

.footer{
	display: flex;
	width: 100%;
	height:20%;
	background-color: #ffef6b78;
	z-index: 9999999;
	clear: both;
	justify-content: space-between;
	align-items: center;
	min-height: 150px;
	/*box-shadow: 0px -10px 0px 0px #5f8d31ba;*/
	/*border-top-width: 10px;*/
	/*border-top-style: solid;*/
	/*border-top-color: #5f8d31ba;*/
	box-shadow: 0px -5px 5px 0px #80808063;
	/*margin-top: 10px;*/
}

.svg-circle{
	fill: var(--green-two);
	opacity: 40%;
    filter: drop-shadow(-10px 8px 9px var(--yellow-contrast));
}


.main-page-container-2{
	width: 100%;
	height: 100%;
	position: relative;
	color: var(--green);
	z-index: 999;
	/*background-color: black;*/
}
.header{
	width: 100%;
	height: 10%;
	background-color: #fffcdc;
	display: flex;

}

.header-border{
	width: 100%;
	height: 4%;
	background-image: url("../img/border.png");
	background-size: contain;
	box-shadow: 0px 8px 11px 0px #80808063;
}

.product-container-main{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	/*background-color: black;*/
	/*background: linear-gradient(90deg, var(--white),var(--white-contrast) );*/
	/*background: url("../img/background-texture.png");*/

	justify-content: space-around;
	margin-top: 5%;
	/*display: inline-block;*/
	float: left;
}

.product-title-container{
	margin-top:3%;
	width:28%;
	height: 90%;
	float: right;
	box-shadow: -5px 1px 11px 0px #80808063;
	display: flex;
	flex-direction: column;
	border-radius: 30px 0px 0px 30px;
	font-family: 'Courgette', cursive;
	line-height: 1.2;
	background-color: var(--biege);
	/*border: 1px solid black;*/
	box-sizing: border-box;
	align-items: center;
	/*justify-content: center;*/
	/*justify-content: center;*/
}

.title-page-2{
	padding: 5px;
	/*padding-bottom:px;*/
	font-size: 3vw;
	width: 14vw;
	transform: rotate(0deg);

}

.product-title-container h2{
	font-size:4vw;
	text-align: center;
}

.product-title-container p{
	margin-top: 10%;
	font-size:2vw;
	text-align: center;
	padding: 5%;
}
.product-container-individual{
	padding: 10px;
	/*display: inline-block;*/
	width: 25%;
	position: relative;
}

/*.product-container-individual::after{
	content: "";
	background: url("../img/product-border.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 110%;
	height: 110%;
}
*/
.product-container-individual img{
	width: 100%;
	  /*border: 10px solid transparent;*/
	  z-index: -1;
	  border-radius: 10%;
	  box-shadow: -6px 3px 9px 2px grey;
  /*padding: 15px;*/
	/*border-image: url("../img/product-border.png") 100% round;*/
}

.product-title-individual{
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	width: 100%;
	font-size: 2vw;
	font-family: 'Sofia', cursive;
}

.border{
	width: 80%;
	height:10%;
}
.top{
	margin-top: 42%;
	background: url("../img/title-border-top.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(2px 2px 2px grey);
}

.bottom{
	background: url("../img/title-border-bottom.png");
	margin-top: 2%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(2px 2px 2px grey);
}

.intro-video-container{
	display: flex;
	flex-direction: column;
	align-items: center;
    box-shadow: 0px -6px 10px 0px grey inset;
}

.intro-video-title{
	margin-top: 3%;
}
.intro-video{
	margin: 3%;
	width: 30%;
	display: flex;
	justify-content: center;
}

.intro-video img{
	width: 70%;
}

.course-title{
	/*display: flex;*/
	width: 100%;
	background-color: #fffcdc;
	cursor: pointer;

}
.course-title h4{
	padding: 20px;
	box-shadow: 0px 10px 2px 0px #eb9479;
	/*margin-top: 10px;*/
	margin-bottom: 8px;
	/*box-sizing: border-box;*/
}
.course-title img{
	/*display: inline;*/
	height: 80%;
}

.arrow{
	background-image: url("../img/down-arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.course-detail-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	background-color: #eb9479;
	/*height: 0px;*/
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
	/*box-sizing: content-box;*/
	box-shadow: 0px 10px 2px 0px #eb9479;

}

.course-detail{
	width: 30%;
	padding-left: 20px;
	font-size: 1.6vw;

}

.course-detail ul{
	padding-left: 20px;
}
.course-detail-image{
	width: 40%;
}
.course-detail-image img{
	border-radius: 20px;
	width: 60%;
}

.profile{
	right: 1%;
	width: 35%;
}


.main-content-page-2{
	width: 50%;
	font-family: 'Courgette', cursive;
	position: absolute;
	top:25%;
	line-height: 1.2;
	/*left: 20%;*/
	text-align: center;
	font-size: 2vw;
	color: var(--green);
	padding-left: 10px;
}

.main-content-page-2 p{
	padding-top: 20px;
}

.button{
	/*width: 60%;*/
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.button p{
	cursor: pointer;
	padding: 5px;
	background-color: var(--biege);
	box-shadow: 2px 2px 2px 2px var(--biege-contrast), -2px -2px 2px 2px var(--biege-contrast);
}

.button-2 p{
	cursor: pointer;
	padding: 5px;
	background-color: var(--biege);
	box-shadow: 2px 2px 2px 2px var(--biege-contrast), -2px -2px 2px 2px var(--biege-contrast);
}

.button p:hover{
	color: var(--brown);
}

.button-2 p:hover{
	color: var(--orange);
}

.coming-soon{
	width:100%;
	padding-top: 10%;
	text-align: center;
}

.footer-nav-list{
	list-style: none;
	display: inline-block;
	color: var(--orange);
}

.footer-nav-list li:hover{
	color: var(--green);
}

.footer-nav-bar{
	padding-top: 15px;
	display: inline-block;
	float: left;
	margin-left: 30%;
	font-size: 1.5vw;
	z-index: 999;
}

.page-2{
	margin-left: 5%;
}

.footer-title{
	width: 30%;
}

.footer-title img{
	width: 70%;
}

.footer-contact{
	padding-top: 15px;
	color: var(--orange);
	font-size: 1.5vw;
	padding-right: 20px;
}
.mail::after{
	width: 20%;
	content: "Mail: aaa@bbb.com"
}

.phone::after{
	width: 20%;
	content: "Call: 987654321";
}

.material-symbols-outlined{
	font-size: 4vw !important;
	line-height: 0 !important;
	vertical-align: middle;
}